/* css for datatables charts (d3) */

.dt-chart-axis path,
.dt-chart-axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/* make sure legend has same style as dots */
.dt-chart-dot,
.legend circle {
    stroke: black;
    stroke-width: 1;
}

.dt-chart-tooltip {
    position: absolute;
    pointer-events: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    background: white;
    border: thin solid black;
    border-radius: 5px;
    padding: 4px;
    z-index: 100;
}

.dt-chart-trendtablehandle {
    position: relative;
}

.dt-chart-trendtable {
    /*position: absolute;*/
    background: white;
    border: thin solid black;
    border-radius: 5px;
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

.dt-chart-trendstat {
    font-weight: bold;
    padding: 2px;
    white-space: nowrap;
}

.dt-chart-nowrap {
    white-space: nowrap;
}

.dt-chart-trenddata {
    text-align: center;
    padding: 2px;
}

.dt-chart-trenddata hr {
    top: 25px;
    height: 2px;
    width: 25px;
    border: none;
}

.dt-chart-display-button {
    padding: .4em 1em;
}

.dt-chart-table {
    position: absolute;
}

.dataTables_wrapper {
    position: absolute;
    top: 0;
}

.dt-hide {
    visibility: hidden;
}

.dt-chart-age-grade-link {
    float: right
}