/* css for datatables charts (d3) */

.dt-chart-axis path,
.dt-chart-axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.dt-chart-dot {
    /*stroke: #000;*/
    stroke: black;
    stroke-width: 1;
}

.dt-chart-tooltip {
    position: absolute;
    pointer-events: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    background: white;
    border: thin solid black;
    border-radius: 5px;
    padding: 4px;
}

.dt-chart-trendtablehandle {
    position: absolute;
}

.dt-chart-trendtable {
    position: absolute;
    background: white;
    border: thin solid black;
    border-radius: 5px;
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

.dt-chart-trendstat {
    font-weight: bold;
    padding: 2px;
    white-space: nowrap;
}

.dt-chart-trenddata {
    text-align: center;
    padding: 2px;
}

.dt-hide {
    visibility: hidden;
}