{% extends "layout.html" %}
{% from '_formhelpers.html' import num,tabbool,tabboollink,tabeditlink %}
{% block pagename %}
    Edit Participants
{% endblock %}
{% block css %}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='resulttable.css') }}">
{% endblock %}
{% block scripts %}
  <script type="text/javascript">
    var tabledata = {{ data|tojson|safe }},
        tableselects = {},  // starts empty, updated as xhr.dt events occur (ajax responses received)
        memberages = {{ memberages|tojson|safe }},
        memberagegens = {{ memberagegens|tojson|safe }},
        membernames = {{ membernames|tojson|safe }},
        crudapi = '{{ crudapi }}',
        fieldapi = '{{ fieldapi }}';

    $( document ).ready( function() {
      {% if writeallowed %}
        // TODO: need export to standard format, as well as update of import
        // TODO: need import form here to be the same as within RaceResults.manageraces()
        toolbutton.init('tool-button',
                        "\
            <h3>Tabulate Results</h3>\
            <div>\
              <button id='_rrwebapp-button-tabulate' _rrwebapp-tabulate-url='{{ url_for("._tabulateresults",raceid=race.id) }}'>Tabulate</button>\
            </div>\
            <h3>Import Results</h3>\
            <div>\
              <form id='_rrwebapp-import-results' method='post' enctype='multipart/form-data'>\
                <input id='_rrwebapp-button-choose-import-file' type='file' name='file'/>\
                <button id='_rrwebapp-button-import' _rrwebapp-formaction='{{ url_for("._importresults",raceid=race.id) }}'>Import</button>\
              </form>\
            </div>\
            <h3>Select Names and Confirm</h3>\
            <div>\
              <p>For all <u>unconfirmed</u> rows with 'missed' disposition shown in this table (see Showing in table footer), \
              choose the new name in the Standings Name dropdown and confirm</p>\
              <button id='_rrwebapp-button-select-names-and-confirm'>Confirm</button>\
            </div>\
            ");
        {% endif %}

      editparticipants( {{ race.id }},
                        {% if readallowed %}true{% else %}false{% endif %},
                        {% if writeallowed %}true{% else %}false{% endif %},
                        {% if membersonly  %}true{% else %}false{% endif %});    

      {#{% if writeallowed %}
        //addbutton.position({my: "left center", at: "right+3 center", of: '#filterseries'});
        toolbutton.position({my: "left center", at: "right+3 center", of: '#_rrwebapp_filtermatch'});
      {% endif %}#}
    })
  </script>
  <script type="text/javascript">
  </script>
{% endblock %}
{% block body %}
  <div id="_rrwebapp-heading-elements">
    <div class="TextLeft ">
      <div>
        <label class="Label">Match:</label><span id="_rrwebapp_filtermatch" class="_rrwebapp-filter"></span>
      </div>
    </div>
  </div>
    <center><b>{{race.name}} - {{race.date}}</b></center>
    <center>Series: {% for ss in race.series %}{{ ss.name }} {% endfor %} -
            {% if race.series[0].membersonly %}members only{% else %}nonmembers included{% endif %}</center>
      <table class="" id="_rrwebapp-table-editparticipants" >
        <thead>
          <tr>
            <th class=""></th>
            <th class="">Place</th>
            <th class="">Result Name</th>
            <th class="">Gender</th>
            <th class="">Age</th>
            <th class="_rrwebapp-col-match">Match</th>
            <th class="_rrwebapp-col-membertype">Type</th>
            <th class="_rrwebapp-col-confirmed">Confirm</th>
            <th class="">Standings Name</th>
            <th class="">Hometown</th>
            <th class="">Club</th>
            <th class="_rrwebapp-col-time">Time</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
{% endblock %}