<!doctype html>
<head>
  <title>{{self.pagename()|striptags}}</title>
  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49724494-1', 'auto');
    ga('send', 'pageview');

  </script>
  <!-- End Google Analytics -->
</head>
<body>
{% if not printerfriendly %}
  <div class=heading>
    <h1>{{_rrwebapp_productname|safe}}
    {% if request.url[0:16] == "http://127.0.0.1" %} (development){% endif %}
    {% if request.url[0:14] == "http://sandbox" %} (sandbox){% endif %}
  </h1>
    <div class=pagename>{{self.pagename()}}</div>
    <div class=metanav>
      {% if not session.logged_in %}
        <a href="{{ url_for('login') }}">log in</a>
      {% else %}
        {{ session.user_name }}
        {% if not inhibityear and session.year %}
          |
          <select id="year_select" class=sessionoption sessionoptionapi="/_useryear">
            {% for year in session.year_choices %}
              <option value={{ year[0] }} {% if year[0] == session.year %}selected{% endif %}>{{ year[1] }}</option>
            {% endfor %}
          </select>
        {% endif %}
        {% if not inhibitclub and session.club_name %}
          | 
          <select id="club_select" class=sessionoption sessionoptionapi="/_userclub">
            {% for club in session.club_choices %}
              <option value={{ club[0] }} {% if club[0] == session.club_id %}selected{% endif %}>{{ club[1]}}</option>
            {% endfor %}
          </select>
        {% endif %}
        | <a href="{{ url_for('logout') }}">log out</a>
        | <a href="{{ url_for('usersettings')}}?next={{request.url}}">
            <span class="ui-icon ui-icon-gear" style="display: inline-block"></span>
          </a>
      {% endif %}
    </div>  
  </div>
  <div class=wrapper>
    {% if session.nav %}
      <ul id="navigation">
      {% for thisnav in session.nav %}
        {# if list not present, just simple entry #}
        {% if not thisnav.list %}
          <li><a href="{{ thisnav.url }}"{%for a in thisnav.attr%} {{a.name}}="{{a.value}}"{%endfor%}>{{ thisnav.display }}</a></li>
        {% else %}
          <li>
            <a href="#">{{ thisnav.display }}</a>
            <ul>
              {% for subnav in thisnav.list %}
                <li><a href="{{ subnav.url }}"{%for a in subnav.attr%} {{a.name}}="{{a.value}}"{%endfor%}>{{ subnav.display }}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
    {% endif %}
    <div class=body>
      {% if error %}<p class=error><strong>Error: {{ error }}</strong></p>{% endif %}
      {% for message in get_flashed_messages() %}
        <div class=flash><p>{{ message }}</p></div>
      {% endfor %}
      <div id="widgets" style="{display: none}"></div>
      <div id="progressbar-container"></div>
      {% block body %}
      {% endblock %}
      {% if addfooter %}  
        <div class="Footer">
          <div>
            <a href="{{url_for('terms') }}">Terms of Service</a>
            <a href="{{url_for('feedback')}}?next={{request.url}}">Questions/Feedback</a>
          </div>
          <span>&copy; 2016 loutilities (Lou King).   All rights reserved.</span>
        </div>
      {% endif %}
    </div>
  </div>
{% else %}
  <div class=body-printerfriendly>
    {{ self.body() }}
  </div>
{% endif %}
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
  
{# see request.py for list of css, js files #}
{% for css in _rrwebapp_cssfiles %}
  <link rel=stylesheet type=text/css href="{{ css }}">
{% endfor %}
{% for css in pagecssfiles %}
  <link rel=stylesheet type=text/css href="{{ css }}">
{% endfor %}
<style>
  {% if request.url[0:16] == "http://127.0.0.1" %}
    html {background: antiquewhite;}
  {% endif %}
  {% if request.url[0:14] == "http://sandbox" %}
    html {background: lightcyan;}
  {% endif %}
</style>
{% block css %}
{% endblock %}

{% for js in _rrwebapp_jsfiles %}
  <script type="text/javascript" src="{{ js }}"></script>
{% endfor %}
{% if pagejsfiles %}
  {% for js in pagejsfiles %}
    <script type="text/javascript" src="{{ js }}"></script>
  {% endfor %}
{% endif %}
{% block scripts %}
{% endblock %}
</body>
</html>