{% extends "layout.html" %}
{% from '_formhelpers.html' import render_field %}
{% block pagename %}
    Login
{% endblock %}
{% block body %}
  {# leave out action to come back to the same form with args #}
  <form action="" method=post>
    {{ form.hidden_tag() }}
    <div class="W9emLabel W20emTextBox">
        {{ render_field(form.email,size=20) }}
        {{ render_field(form.password,size=20) }}
        <center><input type=submit align=middle value=Login></center>
    </div>
  </form>
{% endblock %}