{% extends "datatables.jinja2" %}
{% block scripts %}
  <script type="text/javascript">
    function afterdatatables() {
      {% if writeallowed %}

        set_effective_date('#effective-date', '#todays-date-button');

        var toolscontent = "\
            <h3>Import Members</h3>\
            <div class='importapi' style='display:none;'>\
                <p>Import the member list directly from the configured service</p>\
                <button id='managemembersImportApi' _rrwebapp-formaction='{{url_for("._importmembers")}}'>Download from Service</button>\
            </div>\
            <div class='importfile'>\
              <p>Import the member list as a CSV file. Please read the <a href='https://docs.scoretility.com/en/{{docversion}}/scoring-file-formats.html#members-file-format' target='_blank'>Import Guide</a> for information on the column headers and data format.</p>\
              <form id='import-members' method='post' enctype='multipart/form-data'>\
                <input id='choosefileImport' type=file name='file'>\
                <button id='managemembersImport'  _rrwebapp-formaction='{{url_for("._importmembers")}}'>Import</button>\
              </form>\
            </div>"

        managemembers( {% if writeallowed %}true{% else %}false{% endif %}, toolscontent);

        {% endif %}
    }
  </script>
  {{ super() }}
{% endblock %}
