{% extends "datatables.jinja2" %}
{% block scripts %}
  <script type="text/javascript">
    function afterdatatables() {
      {% if writeallowed %}
          var toolscontent = "\
                <h3>Import Races</h3>\
                <div>\
                  <p>Import the selected year's race list as a CSV file. Please read the <a href='https://docs.scoretility.com/en/{{docversion}}/scoring-file-formats.html#races-file-format' target='_blank'>Import Guide</a> for information on the column headers and data format.</p>\
                  <form id='import-races' method='post' enctype='multipart/form-data'>\
                    <input id='choosefileImport' type='file' name='file' />\
                    <button id='manageracesImport' _rrwebapp-formaction='{{url_for("._importraces")}}'>Import</button>\
                  </form>\
                </div>";

        // needs called in afterdatatables because this will use some of the elements created above
        manageraces( {% if writeallowed %}true{% else %}false{% endif %}, toolscontent);

      {% endif %}
    }

  </script>
  {{ super() }}

{% endblock %}
