{% extends "layout.html" %}
{% from '_formhelpers.html' import num,tabbool,tabboollink,tabeditlink %}
{% block pagename %}
    Standings
{% endblock %}
{% block scripts %}
  <script type="text/javascript">
    $( document ).ready( function() {
      viewstandings('{{division}}','{{gender}}',{% if printerfriendly %}true{% else %}false{% endif%}); 
    })
  </script>
{% endblock %}

{% block body %}
  <div id="_rrwebapp-heading-elements">
    {% if not printerfriendly %}
      <span style="float: left"><button id="_rrwebapp-button-standings-legend">Legend</button></span>
      <span style="float: right"><button id="_rrwebapp-button-printerfriendly" title="Printer Friendly" _rrwebapp_action="{{request.url+'&printerfriendly=true'}}">printerfriendly</button></span>
    {% endif %}
    <div class="_rrwebapp-table-header" id="_rrwebapp-standings-header">
      {{ description }}
      <br>
    </div>
    <div class="TextLeft W7emLabel _rrwebapp-filters">
      <label class="Label">Gender:</label><span id="_rrwebapp_filtergender" class="_rrwebapp-filter"></span>
      <label class="Label">Division:</label><span id="_rrwebapp_filterdivision" class="_rrwebapp-filter"></span>
    </div>
    <div id="_rrwebapp-accordion-standings-races">
      <h3 id="_rrwebapp-accordion-standings-races-header">Races</h3>
      <div>
        {% if not printerfriendly %}
          <table class="DataList PaddedDataList" id="_rrwebapp-table-standings-races" cellpadding=0 cellspace=0>
        {% else %}
          <table class="DataList SlightlyPaddedDataList _rrwebapp-class-pfriendly-races" id="_rrwebapp-table-standings-races" cellpadding=0 cellspace=0>
        {% endif %}
          <tbody>
            {% for racerow in racerows %}
              <tr>
                {% for race in racerow %}
                  <td align=center>{{ num(race.num,0) }}</td>
                  {% if race.resultsurl %}
                    <td><a href="{{ race.resultsurl}}">{{race.race}}</a></td>
                  {% else %}
                    <td>{{race.race}}</td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <br>
  </div>
  <p><b>Note:</b> If the birth date is known, Div Age is as of Jan 1 of the standings year. If the birth date isn't known, Div Age is estimated based on the earliest race in the year. 
  For series with age-based divisions, Division is based on Div Age.</p>
  <table class="DataList" id="_rrwebapp-table-standings" cellpadding=0 cellspace=0>
    <thead>
      <tr>
        {% for heading,cclass,tooltip in headingdata %}
          <th {% if tooltip%}title="{{tooltip}}"{% endif %} class="{{ cclass}}">{{ heading|safe }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for standing in standings %}
        <tr>
          {% for field in standing %}
            <td>{{ field|safe }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}