._rrwebapp-class-standings-data-division,
._rrwebapp-class-standings-data-place,
._rrwebapp-class-standings-data-race,
._rrwebapp-class-standings-data-gender,
._rrwebapp-class-standings-data-total
{
    text-align: center;
}
._rrwebapp-class-standings-data-race-dropped
{
    text-align: center;
    color: red;
}
._rrwebapp-class-standings-data-name
{
    text-align: left;
}

