{% extends "layout.html" %}
{% from '_formhelpers.html' import num,tabbool,tabboollink,tabeditlink %}
{% block pagename %}
    Edit Results
{% endblock %}
{% block css %}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='resulttable.css') }}">
{% endblock %}
{% block scripts %}
  <script type="text/javascript">
    $( document ).ready( function() {
      {% if writeallowed %}
        // TODO: need export to standard format, as well as update of import
        // TODO: need inport form here to be the same as within RaceResults.manageraces()
        toolbutton.init('tool-button',
                        "\
            <h3>Import Results</h3>\
            <div>\
              <form id='_rrwebapp-import-results' _rrwebapp-import-url='{{ url_for("_importresults",raceid=race.id) }}' method='post' enctype='multipart/form-data'>\
                <input id='choosefileImport' type='file' name='file' />\
                <button id='_rrwebapp-button-import'>Import</button>\
              </form>\
            </div>");
        {% endif %}

      editresults( {% if writeallowed %}true{% else %}false{% endif %});    

      {% if writeallowed %}
        //addbutton.position({my: "left center", at: "right+3 center", of: '#filterseries'});
        //toolbutton.position({my: "left center", at: "right+3 center", of: addbutton.selector});
      {% endif %}
    })
  </script>
  <script type="text/javascript">
  </script>
{% endblock %}
{% block body %}
    <center><b>{{race.name}} - {{race.date}}</b></center>
    <center>Series: {% for ss in race.series %}{{ ss.series.name }} {% endfor %} -
            {% if race.series[0].series.membersonly %}members only{% else %}nonmembers included{% endif %}</center>
      <table class="DataList" id="_rrwebapp-table-editresults" cellpadding=0 cellspace=0>
        <thead>
          <tr>
            <th class="_rrwebapp-col-_unordered">{{ form.place.label }}</th>
            <th class="_rrwebapp-col-_unordered">{{ form.name.label }}</th>
            <th class="_rrwebapp-col-_unordered">{{ form.gender.label }}</th>
            <th class="_rrwebapp-col-_unordered">{{ form.age.label }}</th>
            <th class="_rrwebapp-col-_unordered">{{ form.disposition.label }}</th>
            <th class="_rrwebapp-col-_unordered _rrwebapp-col-confirmed">{{ form.confirmed.label }}</th>
            <th class="_rrwebapp-col-_unordered">{{ form.runnerid.label }}</th>
            <th class="_rrwebapp-col-_unordered">{{ form.hometown.label }}</th>
            <th class="_rrwebapp-col-_unordered">{{ form.club.label }}</th>
            <th class="_rrwebapp-col-time">{{ form.time.label }}</th>
          </tr>
        </thead>
        <tbody>
          {% for result,thistime,thisdisposition, thismemberchoice, thismembervalue in resultsdata %}
            <tr class="_rrwebapp-row-disposition-{{thisdisposition}} _rrwebapp-row-confirmed-{{result.confirmed}}">
              <td align=center>{{ num(result.place,0) }}</td>
              <td>{{ result.name }}</td>
              <td align=center>{{ result.gender }}</td>
              <td align=center>{{ num(result.age,0) }}</td>
              <td align=center>{{ thisdisposition }}</td>
              <td align=center>
                <input class="_rrwebapp-editresults-checkbox-confirmed" type="checkbox" {% if result.confirmed %}checked{%endif%}
                          id="_rrwebapp-editresults-checkbox-confirmed-{{ result.id }}" 
                          _rrwebapp-field='confirmed'
                          _rrwebapp-apiurl={{url_for('_updatemanagedresult',resultid=result.id)}}>
                <label for="_rrwebapp-editresults-checkbox-confirmed-{{ result.id }}"></label>
              </td>
              <td>
                {% if writeallowed and (thisdisposition == 'missed' or thisdisposition == 'similar') %}
                  <select class="_rrwebapp-editresults-select-runner" 
                          _rrwebapp-field='runnerid'
                          _rrwebapp-apiurl={{url_for('_updatemanagedresult',resultid=result.id)}}>
                    {% for value,choice in thismemberchoice %}
                      <option value={{value}} {%if value==thismembervalue %}selected{%endif%}>{{choice}}</option>
                    {% endfor %}
                  </select>
                {% else %}
                  {% for value,choice in thismemberchoice %}
                    {% if value==thismembervalue %}
                      {{ choice }}
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </td>
              <td>{{ result.hometown }}</td>
              <td>{{ result.club }}</td>
              <td align=center>{{ thistime }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}