{% extends "layout.html" %}
{% from '_formhelpers.html' import num,tabbool,tabboollink,tabeditlink %}
{% block pagename %}
    Edit Participants
{% endblock %}
{% block css %}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='resulttable.css') }}">
{% endblock %}
{% block scripts %}
  <script type="text/javascript">
    $( document ).ready( function() {
      {% if writeallowed %}
        // TODO: need export to standard format, as well as update of import
        // TODO: need import form here to be the same as within RaceResults.manageraces()
        toolbutton.init('tool-button',
                        "\
            <h3>Tabulate Results</h3>\
            <div>\
              <button id='_rrwebapp-button-tabulate' _rrwebapp-tabulate-url='{{ url_for("_tabulateresults",raceid=race.id) }}'>Tabulate</button>\
            </div>\
            <h3>Import Results</h3>\
            <div>\
              <form id='_rrwebapp-import-results' _rrwebapp-import-url='{{ url_for("_importresults",raceid=race.id) }}' method='post' enctype='multipart/form-data'>\
                <input id='_rrwebapp-button-choose-import-file' type='file' name='file'/>\
                <button id='_rrwebapp-button-import'>Import</button>\
              </form>\
            </div>\
            ");
        {% endif %}

      editparticipants( {% if writeallowed %}true{% else %}false{% endif %},
                        {% if membersonly  %}true{% else %}false{% endif %});    

      {% if writeallowed %}
        //addbutton.position({my: "left center", at: "right+3 center", of: '#filterseries'});
        toolbutton.position({my: "left center", at: "right+3 center", of: '#_rrwebapp_filtermatch'});
      {% endif %}
    })
  </script>
  <script type="text/javascript">
  </script>
{% endblock %}
{% block body %}
  <div id="_rrwebapp-heading-elements">
    <div class="TextLeft ">
      <div>
        <label class="Label">Match:</label><span id="_rrwebapp_filtermatch"></span>
      </div>
    </div>
  </div>
    <center><b>{{race.name}} - {{race.date}}</b></center>
    <center>Series: {% for ss in race.series %}{{ ss.series.name }} {% endfor %} -
            {% if race.series[0].series.membersonly %}members only{% else %}nonmembers included{% endif %}</center>
      <table class="" id="_rrwebapp-table-editparticipants" >
        <thead>
          <tr>
            <th class="_rrwebapp-col-_unordered">{{ form.place.label }}</th>
            <th class="_rrwebapp-col-_unordered">{{ form.name.label }}</th>
            {# {% if not membersonly %}
              <th class="_rrwebapp-col-_unordered">Action</th>
            {% endif %} #}
            <th class="_rrwebapp-col-_unordered">{{ form.gender.label }}</th>
            <th class="_rrwebapp-col-_unordered">{{ form.age.label }}</th>
            <th class="_rrwebapp-col-_unordered _rrwebapp-col-match">{{ form.disposition.label }}</th>
            {% if not membersonly %}
              <th class="_rrwebapp-col-_unordered _rrwebapp-col-membertype">{{ form.membertype.label }}</th>
            {% endif %}
            <th class="_rrwebapp-col-_unordered _rrwebapp-col-confirmed">{{ form.confirmed.label }}</th>
            <th class="_rrwebapp-col-_unordered">{{ form.runnerid.label }}</th>
            <th class="_rrwebapp-col-_unordered">{{ form.hometown.label }}</th>
            <th class="_rrwebapp-col-_unordered">{{ form.club.label }}</th>
            <th class="_rrwebapp-col-time">{{ form.time.label }}</th>
          </tr>
        </thead>
        <tbody>
          {% for result,thistime,thisdisposition, thismemberchoice, thismembervalue, thismembertype in resultsdata %}
            <tr class="_rrwebapp-row-disposition-{{thisdisposition}} _rrwebapp-row-confirmed-{{result.confirmed}}">
              <td align=center>{{ num(result.place,0) }}</td>
              <td>{{ result.name }}</td>
              {# {% if not membersonly %}
                <td>
                  {% if thisdisposition != '' %}
                    {% if thismembervalue != None %}
                      <button type="submit" class="_rrwebapp-editparticpants-button-remove"
                              _rrwebapp-action={{url_for('_removemember')}}?{{{'id':thismembervalue}|urlencode}}>Remove</button>
                    {% else %}
                      <button type="submit" class="_rrwebapp-editparticpants-button-add"
                              _rrwebapp-action={{url_for('_addmember')}}?{{{'name':result.name,'gender':result.gender}|urlencode}}>Add</button>
                    {% endif %}
                  {% endif %}
                </td>
              {% endif %} #}
              <td align=center>{{ result.gender }}</td>
              <td align=center>{{ num(result.age,0) }}</td>
              <td align=center>{{ thisdisposition }}</td>
              {% if not membersonly %}
                <td align=center>{{ thismembertype }}</td>
              {% endif %}
              <td align=center>
                <input class="_rrwebapp-editparticipants-checkbox-confirmed" type="checkbox" {% if result.confirmed %}checked{%endif%}
                          id="_rrwebapp-editparticipants-checkbox-confirmed-{{ result.id }}" 
                          _rrwebapp-field='confirmed'
                          _rrwebapp-apiurl={{url_for('_updatemanagedresult',resultid=result.id)}}>
                <label for="_rrwebapp-editparticipants-checkbox-confirmed-{{ result.id }}"></label>
              </td>
              <td>
                {# leave as select field unless 'definite', or membersonly and '' (means definitely didn't find) #}
                {% if writeallowed and (thisdisposition == 'missed' or thisdisposition == 'similar') or (not membersonly and thisdisposition != 'definite') %}
                  <select class="_rrwebapp-editparticipants-select-runner" 
                          _rrwebapp-field='runnerid'
                          {% if not membersonly %}
                            _rrwebapp-newrunner-name='{{ result.name }}'
                            _rrwebapp-newrunner-gender='{{ result.gender }}'
                          {% endif %}
                          _rrwebapp-apiurl={{url_for('_updatemanagedresult',resultid=result.id)}}>
                    {% for value,choice in thismemberchoice %}
                      <option value={{value}} {%if value==thismembervalue %}selected{%endif%}>{{choice}}</option>
                    {% endfor %}
                  </select>
                {% else %}
                  {% for value,choice in thismemberchoice %}
                    {% if value==thismembervalue %}
                      {{ choice }}
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </td>
              <td>{{ result.hometown }}</td>
              <td>{{ result.club }}</td>
              <td align=center>{{ thistime }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}