{% extends "layout.html" %}
{% block pagename %}
    <span style="text-transform: lowercase;"><i>scoreit</i></span> Home
{% endblock %}
{% block body %}
  <h1>Welcome to <i>scoreit</i></h1>
  <br>
    <i>scoreit</i> provides all a club needs to score their race results and series standings
  <br><br>
    <i>scoreit</i> gives a club the ability to define various race series, which races are in each series, and to collect and tabulate
    results for races run.  When results are tabulated, standings are made available showing the current scores for all the athletes included
    in that series.
  <br><br>
  <a href="{{ url_for('features')}}">Learn More</a>
  
{% endblock %}