<!doctype html>
<head>
  <title>scoreit</title>
</head>
<body>
{# set requestpath = request.path.split("/") #}
<!--<div id="rr-page-{# requestpath[1] #}"></div>-->
<div class=heading>
  <h1><i>scoreit</i></h1>
  <div class=pagename>{% block pagename %}{% endblock %}</div>
  <div class=metanav>
    {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">log in</a>
    {% else %}
      {{ session.user_name }}
      {% if not inhibityear and session.year %}
        |
        <select id="year_select" class=sessionoption sessionoptionapi="/_useryear">
          {% for year in session.year_choices %}
            <option value={{ year[0] }} {% if year[0] == session.year %}selected{% endif %}>{{ year[1] }}</option>
          {% endfor %}
        </select>
      {% endif %}
      {% if not inhibitclub and session.club_name %}
        | 
        <select id="club_select" class=sessionoption sessionoptionapi="/_userclub">
          {% for club in session.club_choices %}
            <option value={{ club[0] }} {% if club[0] == session.club_id %}selected{% endif %}>{{ club[1]}}</option>
          {% endfor %}
        </select>
      {% endif %}
      | <a href="{{ url_for('logout') }}">log out</a>
      | <a href="{{ url_for('usersettings')}}?next={{request.url}}">
          <span class="ui-icon ui-icon-gear" style="display: inline-block"></span>
        </a>
    {% endif %}
  </div>  
</div>
<div class=wrapper>
  {% if session.nav %}
    <ul id="navigation">
    {% for thisnav in session.nav %}
       <li><a href={{ thisnav.url }}>{{ thisnav.display }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
  <div class=body>
    {% if error %}<p class=error><strong>Error: {{ error }}</strong></p>{% endif %}
    {% for message in get_flashed_messages() %}
      <div class=flash><p>{{ message }}</p></div>
    {% endfor %}
    <div id="widgets" style="{display: none}"></div>
    {% block body %}
    {% endblock %}
    {% if addfooter %}  
      <div class="Footer">
        <div>
          <a href="{{url_for('terms') }}">Terms of Service</a>
          <a href="mailto:scoreit@foobox.com">Questions/Feedback</a>
        </div>
        <span>&copy; 2014 Lou King.   All rights reserved.</span>
      </div>
    {% endif %}
  </div>
</div>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<!-- google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49724494-1', 'steeplechasers.org');
  ga('send', 'pageview');
</script>

{# see request.py for list of css, js files #}
{% for css in _rrwebapp_cssfiles %}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename=css.filename) }}?v={{ css.version }}">
{% endfor %}
{% block css %}
{% endblock %}

{% for js in _rrwebapp_jsfiles %}
  <script type="text/javascript" src="{{ url_for('static', filename=js.filename) }}?v={{ js.version }}"></script>
{% endfor %}
{% block scripts %}
{% endblock %}
</body>
</html>