<!doctype html>
<head>
  <title>scoreit</title>
</head>
<body>
{# set requestpath = request.path.split("/") #}
<!--<div id="rr-page-{# requestpath[1] #}"></div>-->
<div class=heading>
  <h1><i>scoreit</i></h1>
  <div class=pagename>{% block pagename %}{% endblock %}</div>
  <div class=metanav>
    {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">log in</a>
    {% else %}
      {{ session.user_name }}
      {% if not inhibityear and session.year %}
        |
        <select id="year_select" class=sessionoption sessionoptionapi="/_useryear">
          {% for year in session.year_choices %}
            <option value={{ year[0] }} {% if year[0] == session.year %}selected{% endif %}>{{ year[1] }}</option>
          {% endfor %}
        </select>
      {% endif %}
      {% if not inhibitclub and session.club_name %}
        | 
        <select id="club_select" class=sessionoption sessionoptionapi="/_userclub">
          {% for club in session.club_choices %}
            <option value={{ club[0] }} {% if club[0] == session.club_id %}selected{% endif %}>{{ club[1]}}</option>
          {% endfor %}
        </select>
      {% endif %}
      | <a href="{{ url_for('logout') }}">log out</a>
      | <a href="{{ url_for('usersettings')}}?next={{request.url}}">
          <span class="ui-icon ui-icon-gear" style="display: inline-block"></span>
        </a>
    {% endif %}
  </div>  
</div>
<div class=wrapper>
  {% if session.nav %}
    <ul id="navigation">
    {% for thisnav in session.nav %}
       <li><a href={{ thisnav.url }}>{{ thisnav.display }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
  <div class=body>
    {% if error %}<p class=error><strong>Error: {{ error }}</strong></p>{% endif %}
    {% for message in get_flashed_messages() %}
      <div class=flash><p>{{ message }}</p></div>
    {% endfor %}
    <div id="widgets" style="{display: none}"></div>
    {% block body %}
    {% endblock %}
  </div>
</div>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-1.10.4.custom.min.js') }}"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/sm-f0-8em-theme/jquery-ui-1.10.4.custom.min.css') }}">

<!-- DataTables -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/jquery.dataTables.css') }}">
<script type="text/javascript" charset="utf8" src="{{ url_for('static',filename='js/jquery.dataTables.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/jquery.dataTables.yadcf.css') }}">
<script type="text/javascript" charset="utf8" src="{{ url_for('static',filename='js/jquery.dataTables.yadcf.js') }}"></script>

<!-- dataTables num-html support [modified plugin from http://datatables.net/plug-ins/sorting#functions_type "Numbers with HTML"] -->
<script type="text/javascript" charset="utf8">
  jQuery.extend( jQuery.fn.dataTableExt.oSort, {
    "num-html-pre": function ( a ) {
        var x = String(a).replace( /<[\s\S]*?>/g, "" );
        return parseFloat( x );
    },
 
    "num-html-asc": function ( a, b ) {
        if (!a || a == '') {a = 0};
        if (!b || b == '') {b = 0};
        return ((a < b) ? -1 : ((a > b) ? 1 : 0));
    },
 
    "num-html-desc": function ( a, b ) {
        if (!a || a == '') {a = 0};
        if (!b || b == '') {b = 0};
        return ((a < b) ? 1 : ((a > b) ? -1 : 0));
    }
} );
</script>

<script type="text/javascript" src="{{ url_for('static', filename='RaceResults.js') }}"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
{% block css %}
{% endblock %}

{% block scripts %}
{% endblock %}
</body>
</html>