{% extends "layout.html" %}
{% from '_formhelpers.html' import num,tabbool,tabboollink,tabeditlink %}
{% block pagename %}
    Races
{% endblock %}
{% block scripts %}
  <script type="text/javascript">
    $( document ).ready( function() {
      {% if writeallowed %}
        addbutton.init('add-race',
                       '{{ url_for('racesettings',raceid=0) }}'
                       );
        toolbutton.init('tool-button',
                        "\
            <h3>Import Races</h3>\
            <div>\
              <form id='import-races' method='post' enctype='multipart/form-data'>\
                <input id='choosefileImport' type='file' name='file' />\
                <button id='manageracesImport' _rrwebapp-formaction='{{url_for("_importraces")}}'>Import</button>\
              </form>\
            </div>");
        {% endif %}

      manageraces( {% if writeallowed %}true{% else %}false{% endif %});    // need to do something here -- $widgets is undefined if not after toolbutton.init

      {% if writeallowed %}
        addbutton.position({my: "left center", at: "right+3 center", of: '#filterseries'});
        toolbutton.position({my: "left center", at: "right+3 center", of: addbutton.selector});
      {% endif %}
    })
  </script>
{% endblock %}
{% block body %}
    <div class=TextLeft>
      <form _rrwebapp-formaction={{ url_for('manageraces') }}>
        {{ form.filterseries() }}
      </form>
    </div>

    <table id='_rrwebapp-table-manage-races' cellpadding=0 cellspace=0>
      <thead>
        <tr>
          {% if writeallowed%}
            <th>Edit</th>
          {% endif %}
          <th>Results</th>
          {#<th>Race Num</td>#}
          <th>Date</td>
          <th>Race</td>
          <th>Miles</th>
          <th>Surface</th>
          {% for ss in series %}
            <th>{{ ss.name|title }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for race,rawresults,tabresults,raceseries in raceresultsseries %}
          <tr>
            {% if writeallowed %}
              {{ tabeditlink(url_for('racesettings',raceid=race.id)) }}
            {% endif %}
  
            {% if rawresults %}
              <td align=center>
                <button class='_rrwebapp-importResultsButton' _rrwebapp-raceid='{{race.id}}'
                  _rrwebapp-formaction='{{url_for("_importresults",raceid=race.id)}}' _rrwebapp-formid='_rrwebapp-form-results-{{race.id}}'
                  _rrwebapp-editaction='{{url_for("editresults",raceid=race.id)}}' 
                  _rrwebapp-seriesresultsaction='{{url_for("seriesresults",raceid=race.id)}}' 
                  _rrwebapp-imported='true'>
                </button>
              </td>
            {% else %}
              {% if writeallowed %}
                <td align=center>
                  <button class='_rrwebapp-importResultsButton' _rrwebapp-raceid='{{race.id}}'
                          _rrwebapp-formaction='{{url_for("_importresults",raceid=race.id)}}' _rrwebapp-formid='_rrwebapp-form-results-{{race.id}}'
                          >
                  </button>
                </td>
              {% else %}
                <td />
              {% endif %}
            {% endif %}
  
            {#<td align=center>{{ num(race.racenum,0) }}</td>#}
            <td>{{ race.date }}</td>
            <td>{{ race.name }}</td>
            <td align=center>{{ num(race.distance,2) }}</td>
            <td align=center>{{ race.surface }}</td>
            {% for ss in series %}
              {{ tabbool(ss.id in raceseries) }}
            {% endfor %}
                
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}