{% extends "layout.html" %}
{% from '_formhelpers.html' import num,tabbool,tabboollink,tabeditlink %}
{% block pagename %}
    Members
{% endblock %}
{% block scripts %}
  <script type="text/javascript">
    $( document ).ready( function() {
      {% if writeallowed %}
        //addbutton.init('add-member',
        //               '{{ url_for('membersettings',memberid=0) }}'
        //               );
        toolbutton.init('tool-button',
                        "\
            <h3>Import Members</h3>\
            <div>\
              <form id='import-members' method='post' enctype='multipart/form-data'>\
                <input id='choosefileImport' type=file name='file'>\
                <button id='managemembersImport'>Import</button>\
              </form>\
            </div>");
        {% endif %}

      managemembers( {% if writeallowed %}true{% else %}false{% endif %} );    // need to do something here -- $widgets is undefined if not after toolbutton.init

      {% if writeallowed %}
        //addbutton.position({my: "left center", at: "right+3 center", of: '#filtermember'});
        //toolbutton.position({my: "left center", at: "right+3 center", of: addbutton.selector});
      {% endif %}
    })
  </script>
  <script type="text/javascript">
  </script>
{% endblock %}
{% block body %}
<!--    <div class=TextLeft>
      <form action={{ url_for('managemembers') }}>
        {{ form.filtermember }}
      </form>
    </div>
-->
    <div class="scrollarea">
      <table class=DataList cellpadding=0 cellspace=0>
        <thead>
          <tr>
{#            {% if writeallowed %}
              <th>Edit</th>
            {% endif %}
#}
            <th> {{ form.name.label }} </th>
            <th> {{ form.dateofbirth.label }}</td>
            <th> {{ form.gender.label }} </td>
            <th> {{ form.hometown.label }} </td>
            <th> {{ form.renewdate.label }} </th>
            <th> {{ form.expdate.label }} </th>
            <th> {{ form.member.label }} </th>
          </tr>
        </thead>
        <tbody>
          {% for member in members %}
            <tr>
{#            {% if writeallowed %}
                {{ tabeditlink(url_for('membersettings',memberid=member.id)) }}
              {% endif %}
#}
              <td>{{ member.name }}</td>
              <td>{{ member.dateofbirth }}</td>
              <td align="center">{{ member.gender }}</td>
              <td>{{ member.hometown }}</td>
              <td>{{ member.renewdate }}</td>
              <td>{{ member.expdate }}</td>
              {{ tabbool(member.member) }}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}