{% extends "layout.html" %}
{% from '_formhelpers.html' import num,tabbool,tabboollink,tabeditlink %}
{% block pagename %}
    Races
{% endblock %}
{% block scripts %}
  <script type="text/javascript">
    $( document ).ready( function() {
      viewstandings(); 
    })
  </script>
  <script type="text/javascript">
  </script>
{% endblock %}
{% block body %}
    <table class="DataList" cellpadding=0 cellspace=0>
      {% for racerow in racerows %}
        <tr>
          <td align=center>{{ num(racerow.num,0) }}</td>
          <td>{{racerow.race}}</td>
        </tr>
        
      {% endfor %}
    </table>
    
    <div class=TextLeft>
      {{ form.filterseries(id="_rrwebapp_filterseries") }}
      {{ form.filtergender(id="_rrwebapp_filtergender") }}
      {{ form.filterdivision(id="_rrwebapp_filterdivision") }}
    </div>

    <table class="DataList" id="_rrwebapp-table-standings" cellpadding=0 cellspace=0>
      <thead>
        <tr>
          {% if writeallowed%}
            <th>Edit</th>
          {% endif %}
          <th>Results</th>
          <th>Race Num</td>
          <th>Date</td>
          <th>Race</td>
          <th>Miles</th>
          <th>Surface</th>
          {% for ss in series %}
            <th>{{ ss.name|title }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for race,rawresults,tabresults,raceseries in raceresultsseries %}
          <tr>
            {% if writeallowed %}
              {{ tabeditlink(url_for('racesettings',raceid=race.id)) }}
            {% endif %}
  
            {% if rawresults %}
              <td align=center>
                <button class='_rrwebapp-importResultsButton' _rrwebapp-raceid='{{race.id}}'
                  _rrwebapp-formaction='{{url_for("_importresults",raceid=race.id)}}' _rrwebapp-formid='_rrwebapp-form-results-{{race.id}}'
                  _rrwebapp-editaction='{{url_for("editresults",raceid=race.id)}}' 
                  _rrwebapp-seriesresultsaction='{{url_for("seriesresults",raceid=race.id)}}' 
                  _rrwebapp-imported='true'>
                </button>
              </td>
            {% else %}
              {% if writeallowed %}
                <td align=center>
                  <button class='_rrwebapp-importResultsButton' _rrwebapp-raceid='{{race.id}}'
                          _rrwebapp-formaction='{{url_for("_importresults",raceid=race.id)}}' _rrwebapp-formid='_rrwebapp-form-results-{{race.id}}'
                          >
                  </button>
                </td>
              {% else %}
                <td />
              {% endif %}
            {% endif %}
  
            <td align=center>{{ num(race.racenum,0) }}</td>
            <td>{{ race.date }}</td>
            <td>{{ race.name }}</td>
            <td align=center>{{ num(race.distance,2) }}</td>
            <td align=center>{{ race.surface }}</td>
            {% for ss in series %}
              {{ tabbool(ss.id in raceseries) }}
            {% endfor %}
                
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}